h1 {
  margin: 30px auto 0px 0px;

   /* like a clock for deciding margins top right bottom left */
}

h1 a {
  color: #fff;
  text-decoration: none;


}

h2 {
  font-size: 42px;
  margin: 10px auto 30px 0px;
}

h2 a {
  color: #fff;
  text-decoration: none;
}

img {
  position: absolute;
  top: 500px;
  left: 50px;
  z-index: -1;
}


.container > div {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 2em;
    color: #ffffff;
}

html {
  background-color: #f78ae5;
  margin: 10px;
}

h3 {
  display:inline-block;
  color: #ffffff;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;

}

header {
  text-decoration:none;
}

nav a:hover {
  font-size: 36px;
  line-height: 22px;
}

nav .currentpage {
  font-style: italic;
}

/*.container > div:nth-child(1n) {
  background-color: #f78ae5;
}

.container > div:nth-child(3n) {
  background-color: #f78ae5;
}

.container > div:nth-child(2n) {
      background-color: #f78ae5;
}

.container > div:nth-child(4n) {
      background-color: #f78ae5;
}
*/

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 12vw;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 4vw;
    margin-right: 4vw;
    margin-top: 0px;
  }

}
