.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr);
    grid-auto-rows: 100px;
    grid-spacing: 30px;
    grid-template-areas:
      "w w w w p p p p r r r r"
      "h h h h h h h h h h h h"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f"
}


.what {
  grid-area: w;
}

.principles {
  grid-area: p;
}

.resources {
  grid-area: r;
}

.header {
  grid-area: h;
}

.content {
  grid-area: c;
}

.footer {
  grid-area: f;
  padding-top: 100px

}
